* {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  background: none;
  box-sizing: border-box;
}

ol,
ul {
  list-style: none;
}

body {
    padding: 40px;
}
h1 {
  font-size: 2rem;
  margin-bottom: 50px;
}

main {
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  column-gap: 20px;
}

h2 {
  font-size: 1.6rem;
}



.display {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 40px;
}

button {
  border: 2px solid black;
  padding: 5px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 1rem;
  cursor: pointer;
}

.score-list {
  border: 2px solid black;
}
.score-list > li{
  padding: 10px;
}

.score-list > li:nth-child(even){
  background-color: #f2f2f2;
}

.divider {
  height: 100%;
  width: 2px;
  background-color: black;
}

label {
  display: none;
}

form {
  width: 70%;
  display: grid;
  grid-template-rows: auto auto auto;
  justify-items: flex-end;
  gap: 20px;
}
input {
  width: 100%;
  padding: 5px;
  font-size: 1.2em;
  border: 2px solid black;
}