@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap');

* {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font-weight: normal;
  background: none;
  box-sizing: border-box;
}

ol,
ul {
  list-style: none;
}

body {
  padding: 40px;
}

h1 {
  font-size: 2rem;
  margin-bottom: 50px;
  color: #427aa1;
  font-family: 'Fredoka One', cursive;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 40px;
  padding: 40px 0;
  border-radius: 10px;
}

section {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100%;
  max-width: 500px;
  padding: 20px;
  border-radius: 10px;
  background: #fff;
  box-shadow: 10px 10px 10px 10px rgba(0, 0, 0, 0.2);
}

h2 {
  font-size: 1.6rem;
  text-align: center;
  color: #427aa1;
  font-family: 'Fredoka One', cursive;
}

.display {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  margin-bottom: 40px;
  text-align: center;
}

button {
  background: #427aa1;
  color: #fff;
  padding: 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 1rem;
  cursor: pointer;
  border-radius: 5px;
}

.score-list {
  border: 3px solid #427aa1;
  width: 80%;
  border-radius: 5px;
}

.score-list > li {
  font-size: 1.2rem;
  color: #000;
  font-weight: 500;
  padding: 10px;
}

.score-list > li:nth-child(even) {
  background-color: #f2f2f2;
}

.divider {
  width: 100%;
  height: 2px;
  background-color: #427aa1;
}

label {
  display: none;
}

form {
  width: 70%;
  display: grid;
  grid-template-rows: auto;
  justify-items: flex-end;
  gap: 20px;
}

input {
  width: 100%;
  padding: 5px;
  font-size: 1.2em;
  border: 2px solid #427aa1;
  border-radius: 3px;
}

input::placeholder {
  color: #6d7275;
  font-size: 1rem;
}

.success {
  text-align: center;
  justify-self: center;
}

.rotate-submit,
.rotate-refresh {
  display: none;
  margin-right: 20px;
}

.fa-spinner {
  font-size: 1rem;
  color: #427aa1;
  animation: fa-spin 2s infinite linear;
}

@media screen and (min-width: 782px) {
  main {
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    column-gap: 20px;
  }

  .divider {
    height: 100%;
    width: 2px;
    background-color: #427aa1;
  }
}
